<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <!-- Appender ghi log ra file -->
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="File" value="target/test-logs/test.log"/>
        <param name="Append" value="true"/> <!-- Nếu bạn muốn log thêm vào file hiện có, để false nếu muốn ghi đè mỗi lần -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>

    <!-- Cấu hình root logger -->
    <root>
        <priority value="debug"/>
        <appender-ref ref="file"/>
    </root>

</log4j:configuration>